---
---

@import "bootstrap/bootstrap";

/*
 * Globals
 */

@font-face {
  font-family: 'Delta Jaeger Medium';
  src: url('../assets/fonts/Delta%20Jaeger%20Medium.otf');
  //font-weight: normal;
  //font-style: normal;
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  //font-family: Georgia, "Times New Roman", Times, serif;
  font-family: 'Vollkorn', serif;
  color: #525254;
  //background-color: black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Delta Jaeger Medium', normal;
  font-weight: normal;
  //color: #333;
  color: #80341d;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */
.blog-masthead-with-margin {
  margin-bottom: 3rem;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  background-color: #1d4461;;
  //color: #6a6c21;
}

.blog-masthead-without-margin {
  //margin-bottom: 3rem;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  background-color: #1d4461;
  //color: #6a6c21;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: white;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

a {
  color: #1a4663;
}


/*
 * Blog name and description
 */

.blog-header {
  //margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  //background-color: #fe5000;
  //background-color: #ff8200;
  background-color: #fe4b13;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Bungee', cursive;
  //font-family: 'Delta Jaeger Medium', normal;
  color: #ffd01e;
}
.blog-description {
  font-size: 1.1rem;
  color: #555;
  font-family: 'Vollkorn', serif;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
  font-family: 'Vollkorn', serif;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #fecf1d;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  //font-family: 'Delta Jaeger Medium', normal;

}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #525254;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #525254;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


// https://www.sitepoint.com/create-calendar-icon-html5-css3/

time.icon
{
  font-family: 'Helvetica', serif;
  font-size: 0.75em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #dbd9de;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #298e28;
  border-bottom: 1px dashed #222021;
  box-shadow: 0 2px 0 #298e28;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #1c4360;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #211f20;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}


