---
layout: title
title: My Blog
navid: index
---

<div class="card-columns">

    {% assign counter = 0 %}

    {% for post in paginator.posts %}



    <a href="{{ post.url | prepend: site.baseurl }}">
<div class="card-{{ counter | modulo : 4 }} " >
    <!--<div class="title-card-{{ counter | modulo : 4 }} ">-->
    <!--</div>-->
    <!--<img class="card-img-top img-fluid" src="{{ post.image }}" alt="Card image cap">-->
    <!--<div class="card-block">-->
        <!--<h4 class="card-title">{{ post.title }}</h4>-->
        <!--<h6 class="card-subtitle text-muted">Category: Music, {{ post.date | date: "%b %-d, %Y" }}</h6>-->
    <!--</div>-->

    <div class="card-block" >
        <h4 class="card-title">{{ post.title }}</h4>
        <h6 class="card-subtitle text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
        <p class="card-text">{{ post.excerpt }}</p>
        <!--a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read post</a-->
        <!--p class="card-text"><small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small></p-->
    </div>

</div>
    </a>

    {% assign counter = counter | plus: 1 %}

    {% endfor %}

</div>


        <!--{% if paginator.total_pages > 1 %}-->
        <!--<nav class="blog-pagination">-->
            <!--{% if paginator.next_page %}-->
            <!--<a class="btn btn-outline-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>-->
            <!--{% else %}-->
            <!--<a class="btn btn-outline-secondary disabled" href="#">Older</a>-->
            <!--{% endif %}-->

            <!--{% if paginator.previous_page %}-->
            <!--<a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>-->
            <!--{% else %}-->
            <!--<a class="btn btn-outline-secondary disabled" href="#">Newer</a>-->
            <!--{% endif %}-->
        <!--</nav>-->
        <!--{% endif %}-->
