---
layout: default_with_header
title: My Blog
navid: index
---

<div class="row">

    <div class="col-sm-8 blog-main">

        {% for post in paginator.posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>


            <p>hello world
                {{ post.content }}
            </p>

        </div>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <nav class="blog-pagination">
            {% if paginator.next_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">Older</a>
            {% endif %}

            {% if paginator.previous_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            {% endif %}
        </nav>
        {% endif %}

    </div><!-- /.blog-main -->

    <div class="col-sm-3 offset-sm-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>I am a software engineer and hobby musician living in Berne, Switzerland. I am currently working for a swiss insurance company as a software developer (Java, JEE) and solution architect.</p>
        </div>
        <div class="sidebar-module">
            <h4>Latest posts</h4>
            <ol class="list-unstyled">

                {% for post in site.posts limit: 10 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endfor %}
                
            </ol>
            <hr>
            <a href="/posts.html">All posts...</a>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <!--<li><a href="#">Twitter</a></li>-->
                <!--<li><a href="#">Facebook</a></li>-->
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->

</div><!-- /.row -->