---
layout: default_with_header
title: My Blog
navid: index
---


        {% for post in paginator.posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>


            <p>hello world
                {{ post.excerpt }}
            </p>

            <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>

        </div>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <nav class="blog-pagination">
            {% if paginator.next_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">Older</a>
            {% endif %}

            {% if paginator.previous_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            {% endif %}
        </nav>
        {% endif %}
